<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">

</head>

<body>
    <header>
        <div id="title1">
            <h3>Best Books!<h3>
        </div>
        <div id="toggleBar">
            <p class="toggleBtn"></p>
            <p class="toggleBtn"></p>
            <p class="toggleBtn"></p>
        </div>
        <div class="toggle-menu">
            <p><a href="/">home</a></p>
            <p><a href='/search'>Search The Google Books API</a></p>
        </div>
    </header>
    <main>
        <div class="added">
            <div id="loadedResults">


                <section class="bookInfo">
                    <img class="bookCover" src="<%= bookDetail.image_url %>" alt="">
                    <h2 class="bookTitle"><%= bookDetail.title %></h2>
                    <p class="bookAuthor"><%= bookDetail.author %></p>
                    <p class="desc"><%= bookDetail.description %></p>
                    <p class="isbn"><%= bookDetail.isbn %></p>
                    <p class="bookshelf">bookshelf: <%= bookDetail.bookshelf %></p>
                </section>

                <button id="editData">Edit Content</button>

                <form class="updateDataForm" action="/update/<%= bookDetail.id %>?_method=put" method="post">
                    <label for="">Title:</label> <br />
                    <input type="text" name="updatedTitle" value="<%= bookDetail.title %>"> <br />
                    <label for="">Author:</label> <br />
                    <input type="text" name="updatedAuthor" value="<%= bookDetail.author %>"> <br />
                    <label for="">ISBN:</label> <br />
                    <input type="text" name="updatedISBN" value="<%= bookDetail.isbn %>"> <br />

                    <label for="">Image URL:</label> <br />
                    <input type="text" name="updatedImage_url" value="<%= bookDetail.image_url %>"> <br />

                            <label for="updatedDescription">Describtion:</label> <br />
                            <textarea id="updatedDescription" style="resize: none; width: 90%; height: 10em;" name="updatedBookshelf"><%= bookDetail.description %> </textarea> <br />

                    
                    <label for="">Catgory:<input type="text" name="updatedBookshelf" value="<%= bookDetail.bookshelf %>"
                            class="catigoryText"></label> <br />
                    <button class="btnSave" type="submit">Save</button>

                </form>

                <button class="del"><a href='/delItem/<%= bookDetail.id %>'>Delete</a></button>

            </div>
    </main>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>